.form-group{
    height: auto;
    width: auto;
    border-color:#34baeb;
    border-style: solid;
    border-width: 5px;
    
}

.card{
    width: 275px;
    border-width: 3px;
    border-style: solid;
    border-color:#34baeb;
}

.btn-outline-danger{
    position: absolute;
    right: 0;
    width: 20px;
    height: 15px;
    text: center;
}

#cities{
    margin-top: 20px;

}
#addBtn{
    margin-top: 20px;
}

label{
    margin-top: 30px;
}

#removeForm{
 margin-top: 20px;

}
.card-img-top{
    width: 175px;
    height: 150px;
    margin: auto;
    padding: 5px;
    display: block;
}